body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

/* Navigation bar */

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Tite image  */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}

/* Features */

.container {
  text-align: center;
  padding: 5% 10%;
}

.features-box {
  padding: 0 5%;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  margin: 5% 0;
}

p {
  color: #8f8f8f;
}

.icon {
  margin-top: 10%;
  color: #cf8172;
}

.icon:hover {
  color: #ff4c68;
}


/* Testimonial section  */



#testimonials{
  background-color: #cf8172;
  color: #ffffff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #cf8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-text{
  width: 100%;
}